/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: pink;

// * {
//   border: 1px solid red;
// }

// body {
//   background-color: $primary-background;
// }

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #1F2B3C;
  color: #ffffff;

}
.nav__section {
  display: flex;
}

.nav__title--date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav__section__div--tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  width: 125px;
  justify-content: space-evenly;
}

.tabs-nav div:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}

.tabs-nav div:last-child a {
  border-top-right-radius: 6px;
}

.tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #2db34a;
  cursor: default;
}

.tabs-stage {
  // border: 1px solid #cecfd5;
  // border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
}

.nav__h1--title {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.color--tab {
  background-color: #28364C;
}

.nav__section__div--img {
  width: 40px;
  margin: 15px 0 0 0;
}

.nav__section__div--tab--title {
  text-decoration: none;
  color: #fff;
}

.nav__section__div--tab:hover {
  color: #0EBB97;
}

.user {
  width: 10%;
  min-width: 300px;
  max-width: 500px;
  justify-content: space-between;
  padding: 15px;
}

.user--image {
  height: 20px;
}

.user--info {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.user--name{
  font-size: 25px;
  width: 100%;
  padding: 0 8px;
}

.customer {
  width: 100%;
  display: flex;
}

.customer--search__input {
  width: 80%;
  height: 40px;
  border: none;
}

.customer--create__buttton {
  width: 20%;
  // height: 20px;
  border: none;
}

.nav__section__div--logout {
  display: flex;
  align-items: center;
}

.customer--search--create {
  display: flex;
  justify-content: space-between;
}

.customer--search--results {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.customer--result {
  width: 300px;
  font-size: 30px;
}
.customer--create--input {
  width: 200px;
  height: 40px;
  // border: none;
}